[Unit]
Description=OpenBib with Hypnotoad
Requires=network.target
After=network.target

[Service]
Type=forking
User=openbib
Group=www-data
PIDFile=/var/log/openbib/hypnotoad.pid
ExecStart=/usr/bin/hypnotoad /opt/openbib/conf/portal.mojo
ExecStop=/usr/bin/hypnotoad -s /opt/openbib/conf/portal.mojo
ExecReload=/usr/bin/hypnotoad /opt/openbib/conf/portal.mojo
Restart=always
Nice=19
LimitNOFILE=16384
#KillMode=process

[Install]
WantedBy=multi-user.target
