[Unit]
Description=OpenBib with Hypnotoad
After=network.target

[Service]
Type=forking
User=openbib
Group=www-data
PIDFile=/var/log/openbib/hypnotoad.pid
ExecStart=/usr/bin/hypnotoad /opt/openbib/conf/portal.mojo
ExecReload=/usr/bin/hypnotoad /opt/openbib/conf/portal.mojo
KillMode=process

[Install]
WantedBy=multi-user.target
