/*	This file is part of CSS Buttons.
   
   CSS Buttons is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   at your option) any later version.
   
   CSS Buttons is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with CSS Buttons. If not, see <http://www.gnu.org/licenses/>.
   */
/*	Using CBF Beta
   /* 	Overrides the CSS Buttons Framework */
   button.cssbutton.glass span,a.cssbutton.glass span,div.cssbutton.glass input {height:24px; line-height:24px;}

/*
   Name: 	glass kug 
   Desc:	BlueGreen Button 24px	*/
/*
   Right Background	*/

button.cssbutton.glass.kug span, a.cssbutton.glass.kug span, div.cssbutton.glass.kug input {
  font-size: 1.2em;
  color:#FFF;
  /*     color:#000; */
  background:url("kug_Right-24px.gif") no-repeat right 0 ;
}

/*
   Left (Wedges) Background	*/	
button.cssbutton.glass.kug, a.cssbutton.glass.kug, div.cssbutton.glass.kug {
  background:url("kug_Left-24px.gif") no-repeat 0 center; 
}

/*
   :hover Right Background	*/	
button.cssbutton.glass.kug:hover span,a.cssbutton.glass.kug:hover span,div.cssbutton.glass.kug:hover input {
  background:url("kug_Right-24px.gif") no-repeat right 100%;  
}

/*
   :hover Left (Wedges) Background	*/	
button.cssbutton.glass.kug:hover,a.cssbutton.glass.kug:hover,div.cssbutton.glass.kug:hover {
  background:url("kug_Left-24px.gif") no-repeat -354px center;
}

/*
   Name: 	glass kug_big 
   Desc:	BlueGreen Button 24px	*/
/*
   Right Background	*/

button.cssbutton.glass.kug_big span, a.cssbutton.glass.kug_big span, div.cssbutton.glass.kug_big input {
  font-size: 1.4em;
  color:#FFF;
  /*     color:#000; */
  background:url("kug_Right-24px.gif") no-repeat right 0 ;
}

/*
   Left (Wedges) Background	*/	
button.cssbutton.glass.kug_big, a.cssbutton.glass.kug_big, div.cssbutton.glass.kug_big {
  background:url("kug_Left-24px.gif") no-repeat 0 center; 
}

/*
   :hover Right Background	*/	
button.cssbutton.glass.kug_big:hover span,a.cssbutton.glass.kug_big:hover span,div.cssbutton.glass.kug_big:hover input {
  background:url("kug_Right-24px.gif") no-repeat right 100%;  
}

/*
   :hover Left (Wedges) Background	*/	
button.cssbutton.glass.kug_big:hover,a.cssbutton.glass.kug_big:hover,div.cssbutton.glass.kug_big:hover {
  background:url("kug_Left-24px.gif") no-repeat -354px center;
}
