/* Generisches Stylesheet fuer das OpenBib-Portal */

h1 {
  font-family: 'Trebuchet MS',Arial,Geneva,Helvetica;
  font-size: 1.5em;
  text-align: left;
}

h2 { 
  font-family: 'Trebuchet MS',Arial,Geneva,Helvetica;
  font-size: 1.3em;
  color: black;
  font-family: Arial,helv,Helvetica,Verdana;
}

h3, h4, h5 { 
  font-family: 'Trebuchet MS',Arial,Geneva,Helvetica;
  font-size: 1.1em;
  color: black;
  font-family: Arial,helv,Helvetica,Verdana;
}

body {
  color: black;
  font-size: 0.9em;
  background-color: #EDEBE3;
  font-family: Arial,helv,Helvetica,Verdana,sans-serif;
}

pre { 
  color: black;
  font-family : "Courier New", Courier, monospace;
}

b {
  font-family: Arial,Helvetica,Verdana,sans-serif;
  font-weight: bold;
  color: #333;
}

img {
  border: 0;
}

dt {
  font-weight:bold;
  margin-bottom: 2px;
}

dd {
  margin-bottom: 10px;
}

table {
  padding: 0px;
}

.titlerow { 
  background-color: #FFF3B3;
}

.listnr { 
  background-color: #FFF3B3;
  font-weight: bold;
  text-align: right;
  padding: 5px;
}

.listrow1 { 
  background-color: white;
}

.listrow2 { 
  background-color: #FFFDF3;
}

.category { 
  padding: 2px;
  background-color: #FFF3B3;
  font-weight: bold;
}

.circurl { 
  font-weight:bold;
  vertical-align:top;
  font-size:1.2em;
  color:red;
}

.warning { 
  color: red;
}

.globalsearch { 
  font-family:Arial,helv,Helvetica,Verdana; 
  font-size:135%; 
  color:blue;
}

.fbuttonarea { 
  background-color: #EDEBE3;
}

th {
  font-family: 'Trebuchet MS',Arial,Helvetica,Geneva;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  background-color: #EDEBE3;
  padding: 2px;
  text-align: left;
  vertical-align: top;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-style: dashed;
  border-bottom-color: #FFF3B3;
  border-bottom-width: 1px;
}

td.boxed {
  padding: 5px;
  background-color: #FFFDF3;
  border-left: #999999;
  border-right: #999999;
  border-bottom: #999999;
}

td.boxedfull {
  padding: 5px;
  background-color: #FFFDF3;
  border-left-style: solid;
  border-left-color: #666;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-color: #666;
  border-right-width: 1px;
  border-top-style: solid;
  border-top-color: #666;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666;
  border-bottom-width: 1px;
}

td.boxedclear {
  padding: 5px;
  background-color: #FFFDF3;
  border-left-style: solid;
  border-left-color: #FFFDF3;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFDF3;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFDF3;
  border-bottom-width: 1px;
}

.titlenav {
  padding: 5px;
  background-color: #FFFDF3;
  margin-top: 5px;
  border-top-style: solid;
  border-top-color: #666;
  border-top-width: 1px;
  border-left-style: solid;
  border-left-color: #666;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-color: #666;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666;
  border-bottom-width: 1px;
}

input, select, textarea {
  font: 100% Arial,helv,Helvetica,Verdana;
  border: 1px solid #666;  
  color: #333;
  background-color: #efefef;
  vertical-align: middle;
  margin-bottom: 1px;
}

a:link {
  color:#333;
}

a:visited {
  color:#333;
}

a:active {
  color:#333;
}

a:link.invisible {
  color:#edebe3;
  font-family:helvetica,arial;
  font-weight:lighter;
  font-size:10pt;
  border:0;
} /* unvisited link */

a:visited.invisible { 
  color:#edebe3;
  font-family:helvetica,arial;
  font-weight:lighter;
  font-size:10pt;
  border:0;
} /* visited links */

a:active.invisible { 
  color:#edebe3;
  font-family:helvetica,arial;
  font-weight:lighter;
  font-size:10pt;
  border:0;
} /* active links */


.tabbingmenu {
  color: #333;
  border-bottom: 1px solid #666;
  margin: 12px 0px 0px 0px;
  padding: 0px;
  z-index: 1;
  padding-left: 10px;
}

.tabbingmenu li {
  display: inline;
  overflow: hidden;
  list-style-type: none; 
}

.tabbingmenu a, a.active {
  color: #333;
  background: #EDEBE3; /* Hintergrundfarbe Tab 'weiss'*/
  font: bold 1em "Trebuchet MS", Arial, sans-serif;
  border: 1px solid #666;
  padding: 2px 5px 0px 5px;
  margin: 0px;
  text-decoration: none; 
}

.tabbingmenu a.active {
  background: #EDEBE3;
  border-bottom: 3px solid #EDEBE3; 
}

.tabbingmenu a:visited {
  color: #333; 
  background: #EDEBE3; 
}

#langchoice {
  float: right;
}

.content {
  font-family: Arial,helv,Helvetica,Verdana,sans-serif;
  background: #EDEBE3;
  padding: 5px;
  border: 1px solid #666;
  border-top: none;
  z-index: 2;	
}

.queryhighlight {
  color:#990000;
}

.drilldown_categorized {
  background: #EDEBE3;
}

#maincontent{
  width: 99%;
  position: absolute;
  top: 165px;
  left: 0;
  background: #EDEBE3 ;
  padding: 5px;
}

#mainnavigation {
  width: 99%;
  position: absolute;
  top: 135px;
  left: 1;
  padding: 0px;
  border: 1px solid #666;
  background: #FFFDF3;
}

#mainnavigation a:link {
  color: #000000;
  background: #FFFDF3; /* Hintergrundfarbe Tab 'weiss'*/
  text-decoration: none; 
}

#mainnavigation a:visited {
  color: #000000;
  background: #FFFDF3; /* Hintergrundfarbe Tab 'weiss'*/
  text-decoration: none; 
}

#mainnavigation a:hover {
  color:      #333; 
  background: #EDEBE3;
  text-decoration:underline
}

.dbdescshort {
  font-size:1.2em;
  font-weight:bold;
}

.submitbuttons {
  padding: 5px;
}

.popularitycount {
  font-style:italic
}

.cloud {
  margin:0;
  padding:0;
}
.cloud li {
  margin:0;
  padding:0;
  display: inline;
}
.cloud span {
  position: absolute;
  left: -999px;
  width: 990px;
}
.cloud .fast-nicht-genutzt {
  font-size: 0.6em;
}
.cloud .nicht-sehr-genutzt {
  font-size: 0.9em;
}
.cloud .etwas-genutzt {
  font-size: 1.2em;
}
.cloud .genutzt {
  font-size: 1.5em;
}
.cloud .sehr-viel-genutzt {
  font-size: 1.8em;
}
.cloud .ultra-genutzt {
  font-size: 2.1em;
}
.cloud .am-meisten-genutzt {
  font-size: 2.3em;
}

/***************************************/
/* jquery.autocomplete                 */

.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('loading.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}

/***************************************/
/* jquery ui.tabs                      */

/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .ui-tabs-nav {
        display: none;
    }
}

/* Skin */
.ui-tabs-nav, .ui-tabs-panel {
    font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
/*    font-size: 0.9em; */
}
.ui-tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 4px;
}
.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    float: left;
    margin: 0 0 0 1px;
    min-width: 84px; /* be nice to Opera */
}
.ui-tabs-nav a, .ui-tabs-nav a span {
    display: block;
    padding: 0 10px; 
    background: url(/images/openbib/tab.png) no-repeat; */
}
.ui-tabs-nav a {
    margin: 1px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding-left: 0;
    color: #27537a;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */    
    outline: 0; /* prevent dotted border in Firefox */
}
.ui-tabs-nav .ui-tabs-selected a {
    position: relative;
    top: 1px;
    z-index: 2;
    margin-top: 0;
    color: #000;
}
.ui-tabs-nav a span {
    width: 64px; /* IE 6 treats width as min-width */
    min-width: 64px;
    height: 18px; /* IE 6 treats height as min-height */
    min-height: 18px;
    padding-top: 6px;
    padding-right: 0;
}
*>.ui-tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.ui-tabs-nav .ui-tabs-selected a span {
    padding-bottom: 1px;
}
.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
    background-position: 100% -150px;
}
.ui-tabs-nav a, .ui-tabs-nav .ui-tabs-disabled a:hover, .ui-tabs-nav .ui-tabs-disabled a:focus, .ui-tabs-nav .ui-tabs-disabled a:active {
    background-position: 100% -100px;
}
.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
    background-position: 0 -50px;
}
.ui-tabs-nav a span, .ui-tabs-nav .ui-tabs-disabled a:hover span, .ui-tabs-nav .ui-tabs-disabled a:focus span, .ui-tabs-nav .ui-tabs-disabled a:active span {
    background-position: 0 0;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}
.ui-tabs-panel {
/*    border-top: 1px solid #97a5b0; */
/*    border: 1px solid #97a5b0; */
    border: 1px solid lightblue; 
    /*padding: 10px; /*
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}
.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
}

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear, @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { /* @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}


