@media all
{

  header {

  }

  body {
    overflow-y:scroll
  }

  ul.topiclist a {
    font-weight:bold;
    font-size:1.2em;
  }
  
  .ob-pagination {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center; 
  }
  
  .ob-pagination_firstpage, .ob-pagination_page, .ob-pagination_activepage, .ob-pagination_lastpage {
    border: 1px solid #999999;
    margin: 0 4px 4px 0;
    padding: 3px 10px;
    border-radius: 2px 2px 2px 2px;    
    white-space: no-wrap;
    background: #eeeeee;
  }

  .ob-pagination_firstpage:focus, .ob-pagination_page:focus, .ob-pagination_activepage:focus, .ob-pagination_lastpage:focus {
    box-shadow: 0 0 2px #eeeeee;
  }

  .ob-pagination_space:after {
    content: ' ... ';
    font-size: 1.2em;
  }

  .ob-pagination_previous, .ob-pagination_next {
    font-size: 1.2em;
  }
  
  .ob-pagination_previous { 
    padding-right: 0.5em;
  }
  
  .ob-pagination_next {
    padding-left: 0.5em;
  }
  
  .ob-pagination_firstpage {
    font-size: 1.4em;

  }

  .ob-pagination_activepage {
    border: 2px solid #999999;
    font-size: 1.4em;
  }

  .ob-pagination_page {
    font-size: 1.4em;
  }

  .ob-pagination_lastpage {
    font-size: 1.4em;
  }
  
  .ob-category_header {
    width: 100%;
    padding: 2px;
    padding-left: 5px;
    margin: 5px 10px -5px -5px;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;

/*    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);*/
  }

  header {
    color:#000;
    background:#fff repeat-x top left;
    padding: 40px 2em 5px 20px;
    position:relative;
  }
  
  header #logo {
    padding: 0px;
    position: relative;
    margin: 0px auto 0px auto;
    width: 850px;
  }

  header #logo img {
    margin-bottom: -5px;
  }

  header #logotext {
    font-family: 'Droid Sans', sans-serif;
    font-size: 35px;
    color: #aaaaaa;
  }

/*
  #header_logo_image {
    background: url(/images/openbib/kuglogo_small-40px.png) center no-repeat;
    width: 88px;
    height: 40px;
    position: absolute;
    top: 40px;
    left: 60px;
  }
*/
  .ym-wbox {
    background: #ffffff;
  }
/*
  #header_institution_image {
    background: url(/images/openbib/views/alekiddr/aleki_logo.png) center no-repeat;
    width: 111px;
    height: 90px;
    position: absolute;
    top: 30px;
    right: 10px;
  }
*/
  .details {
    padding-top: 1em;
  }

  .images {
    padding-top: 1em;
  }

  nav {
    background: #ffffff;
  }

  nav.ob-fixed_navigation {
    position: relative;
    margin: 0px 60px 0px;
    top: 0px;
  }
  
}
