@media all
{

  .ym-form div.ym-fbox-button {
    padding: 0.5em 1em 0.5em;
    margin-bottom: 0.5em;
  }
  
  .ym-form div.ym-fbox-button {
    background: #ececec;
    border-top: 1px #e0e0e0 solid;
    padding:0.5em 1em 0.5em;
    margin: 0;
  }

  .ob_button, input[type="submit"] {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: .1em 0.5em .2em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    webkit-border-radius: .5em; 
    moz-border-radius: .5em;
    border-radius: .5em;
    webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    width: auto;
  }
  
  .ob_button:hover, input[type="submit"] {
    text-decoration: none;
  }
  
  .ob_button:active, input[type="submit"]:active {
    position: relative;
    top: 1px;
  }
  
  .ob_button, input[type="submit"] {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
  }
  
  .ob_button:hover, input[type="submit"]:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
  }
  .ob_button:active, input[type="submit"]:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
  }
  
  a.ob_button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: .24em 0.7em .35em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    webkit-border-radius: .5em; 
    moz-border-radius: .5em;
    border-radius: .5em;
    webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    width: auto;
  }
  a.ob_button:hover {
    text-decoration: none;
  }
  
  a:active.ob_button:active {
    position: relative;
    top: 1px;
  }
  
  a.ob_button {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
  }
  
  a:hover.ob_button:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
  }
  a:active.ob_button:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
  }

}