@media all
{

  .ob-pagination {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center; 
  }
  
  .ob-pagination_firstpage, .ob-pagination_page, .ob-pagination_activepage, .ob-pagination_lastpage {
    border: 1px solid #999999;
    margin: 0 4px 4px 0;
    padding: 3px 10px;
    border-radius: 2px 2px 2px 2px;    
    white-space: no-wrap;
    background: #eeeeee;
  }

  .ob-pagination_firstpage:focus, .ob-pagination_page:focus, .ob-pagination_activepage:focus, .ob-pagination_lastpage:focus {
    box-shadow: 0 0 2px #eeeeee;
  }

  .ob-pagination_space:after {
    content: ' ... ';
    font-size: 1.2em;
  }

  .ob-pagination_previous, .ob-pagination_next {
    font-size: 1.2em;
  }
  
  .ob-pagination_previous { 
    padding-right: 0.5em;
  }
  
  .ob-pagination_next {
    padding-left: 0.5em;
  }
  
  .ob-pagination_firstpage {
    font-size: 1.4em;

  }

  .ob-pagination_activepage {
    border: 2px solid #999999;
    font-size: 1.4em;
  }

  .ob-pagination_page {
    font-size: 1.4em;
  }

  .ob-pagination_lastpage {
    font-size: 1.4em;
  }

  .ob-category_header {
    width: 100%;
    padding: 2px;
    padding-left: 5px;
    margin: 10px 10px -5px -3px;
    background: #ddd;
    color: #000;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    -moz-box-shadow: 2px 2px 2px #aaa;
    -webkit-box-shadow: 2px 2px 2px #aaa;
    box-shadow: 2px 2px 2px #aaa;

/*    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);*/
  }



  nav {
    margin-top: 10px;
    background: #fff;
  }

  nav.ob-fixed_navigation {
    position: relative;
    margin: 0px 60px 0px;
    top: 0px;
  }

  .ob-selectbox optgroup[label] {
    font-style: normal;

  }

  #ob-searchform_bottom {
    font-size: 90%;
    padding: 0px;
/*    margin-top: -1.5em;
    background: #ebeff5;*/
  }

  #ob-searchform_bottom .ym-gbox,   #ob-searchform_bottom .ym-gbox-left,   #ob-searchform_bottom .ym-gbox-right {
    padding-top: 2px;
    border-top: none;
    background: #fff; /*#ededed ; /* #f6f6f8; /*#eaedf0;*/
  }
  #ob-searchform_bottom .ym-gbox-left {
    border-left: 1px #eee solid;
  }

  #ob-searchform_bottom .ym-gbox {
    border-left: 4px #eee solid;
    border-right: 4px #eee solid;
  }
  #ob-searchform_bottom .ym-gbox-right {
    border-right: 1px #eee solid;
  }
  
 .ob-searchform_bottom_left {
    padding: 5px;
  }


  .ob-functional_nav {
    width:100%;
    margin:0 0 0 0;
    padding:0;
    height:32px;
    border-top: 1px #e3e3e3 solid;
    border-bottom: 1px #e3e3e3 solid;
  }

  .ob-functional_nav .ob-breadcrumb {
    padding:0;
    margin-top:-20px;
    margin-left: 0px;
  }
  
  .ob-functional_nav .ob-breadcrumb ul li {
    list-style:none;
    float:left;
    height:30px
    display:inline;
  }
  .ob-functional_nav .ob-breadcrumb ul li a {
    font:12px Arial, Helvetica, sans-serif;
    color:rgb(0,0,0);
    text-decoration:none;
    line-height:30px;
    display:block;
    background:url('/images/openbib/breadcrumb.png') 100% no-repeat;
    padding:5px 17px 0 0;
  }
  .ob-functional_nav .ob-breadcrumb ul li a:hover {
    text-decoration:underline;
    color:rbg(0,0,0);
  }
  .ob-functional_nav .ob-breadcrumb ul li a.lastitem {
    background:none;
    color:rgb(0,0,0);
  }
  .ob-functional_nav .ob-breadcrumb ul li a.lastitem:hover {
    text-decoration:none;
  }

  .ob-functional_nav .ob-representation {
    float: right;
    margin-top: 8px;
    margin-right: 20px;
  }

  #topnav { 
    top:5px;
  }

  .ob-resultlist {
    background: #fff;
  }
  
  .ob-facets {
    margin-top: 0px;
    background: #fff;
  }
  .ob-facets h4 {
    margin-top: 2px;
    border-bottom: none;
    font-weight: bold;
  }


  .ob-items dt {
    margin-top:.75em;
    font-weight:bold;
    padding:0.2em 0.4em;
    background-color: #eee;
  }

  .ob-authority_record {
    background: #fff;

  }
  
  .ob-fulltitle {
    margin-top: 10px;
  }

  .ob-title_wikipedia_articles {
    padding-left: 10px;
    padding-right: 10px;
  }

  nav.ob-hidden {
    display: none;
  }

  .ym-col1.ob-hidden {
    background: #eee;
    display: none;
    height: 0px;
    width: 0px;
    padding: 0px;
  }

  .ob-cartitems.ob-reuse_data {
    padding: 5px;
    padding-top: 0px;
  }

}