@media all
{
  
  footer {
    margin: 0.2em 0 0 0;
/*    background: #e8fca4;
    color: #444; */
    padding: 0.5em;

    background: #c8c8c8;
    
    background: -webkit-gradient(linear, left top, left bottom, from(#c8c8c8), to(#f3f3f3));
    background: -moz-linear-gradient(top,  #c8c8c8,  #f3f3f3);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8c8c8', endColorstr='#f3f3f3');
    
    
    border: 1px #c8c8c8 solid;
  }

  #topnav a { color:#999; font-weight:normal; background:transparent; text-decoration:none; }
  #topnav a:focus,
  #topnav a:hover,
  #topnav a:active { text-decoration:underline; background-color:transparent; }

  #topnav { 
	background:transparent; 
  	color:#aaa; 
	
    position:absolute;
    top:10px;
    right:10px; /* LTR */
	text-align:right; /* LTR */
  }

  
  .ob-fulltitle {
    margin-top: 10px;
    background: #fff;
    width: 100%; 
  }
  
  .ob-cloud {
    margin:0;
    padding:0;
  }
  .ob-cloud li {
    margin:0;
    padding:0;
    display: inline;
  }
  .ob-cloud span {
    position: absolute;
    left: -1999px;
    width: 1990px;
  }
  .ob-cloud .fast-nicht-genutzt {
    font-size: 0.7em;
  }
  .ob-cloud .nicht-sehr-genutzt {
    font-size: 1.0em;
  }
  .ob-cloud .etwas-genutzt {
    font-size: 1.3em;
  }
  .ob-cloud .genutzt {
    font-size: 1.5em;
  }
  .ob-cloud .sehr-viel-genutzt {
    font-size: 1.9em;
  }
  .ob-cloud .ultra-genutzt {
    font-size: 2.2em;
  }
  .ob-cloud .am-meisten-genutzt {
    font-size: 2.4em;
  }

  .ob-representation {
    text-align: right;
  }

  .ob-page_title {
    font-size: 1.2em;
    /* margin-left: 20px; */
    font-weight: bold; 
  }

  .ob-page_subtitle {
    font-size: 1.0em;
    /* margin-left: 20px; */
  }

  .ob-facets {
    margin-top: -5px;
  }

  .ob-resultlist {
    width: auto%;
    padding: 1em;
  }
  
  .ob-resultheader {
    position: relative;
    width: auto;  
    padding: 5px;
    padding-right: 0px;
    min-height: 10px;
    height: auto;
    margin-bottom: 25px;
    /*  height: 35px;
       background-color: #fef6e2;
       border-left-style: solid;
       border-left-color: #edebe3;
       border-left-width: 1px;
       border-right-style: solid;
       border-right-color: #edebe3;
       border-right-width: 1px;
       border-top-style: solid;
       border-top-color: #edebe3;
       border-top-width: 1px;
       border-bottom-style: solid;
       border-bottom-color: #edebe3;
       border-bottom-width: 1px;
       moz-border-radius-topright: 12px;
       moz-border-radius-topleft: 12px;
       webkit-border-radius-topright: 12px;
       webkit-border-radius-topleft: 12px;*/
  }

  .ob-resultheader .left {
    position: absolute;
    top: 0;
    left: 0px;
    width: 500px;
    font-size: 1.2em;
    /*  font-weight: bold; 
       padding: 5px; */
  }

  .ob-resultheader .right {
    position: absolute;
    top: 0;
    right: 0px;
    width: 300px;
    /*  padding: 5px; */
    text-align: right;
  }

  .ob-resultitems {
    width: auto;
    margin-top: 5px;
  }

  .ob-item .ob-titleactions {
    display: none;
  }

  .ob-item:hover {
    margin-left: -3px;
    border-left-width: 4px;
    
    border-left-color: #41799e; 
/*    border-color: #000;*/
/*    background: #ebeff5;*/
/*   background: #ececec;*/
  }

  .ob-item:hover .ob-titleactions {
    display: block;
  }

  .ob-item .ob-numbering {
    position: absolute;
    background: #ffffff none repeat scroll 0 0;
    border-color:#E1E1E1;
    border-style:solid;
    border-width:1px;	
    line-height: 1em;
    margin-left:4px;
    margin-top: 5px;
    padding:1px 5px;
    color: gray;
  }

  .ob-item .ob-thumbnail {
    position: relative;
    top: 5px;
    left: 35px;
    width: 60px;
    height: 90px;
/*    border: 1px solid #000; */
    background: none repeat scroll 0 0;
  }

  .ob-item .ob-thumbnail img {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
   }
  
  .ob-item .ob-dbis_availability {
    position: relative;
    top: 22px;
    left:40px;
    width: 60px;
    height: 90px;
    
    background: none repeat scroll 0 0; 

  }

  /* ob-liststyle not used
  .ob-liststyle .ob-thumbnail {
    width: 1px;
  }

  .ob-liststyle .ob-brieftitle {
    left: 50px;
  }
*/
  .ob-item .ob-titlemark {
    position: absolute;
    bottom:0;
    right:0;
    padding-right: 10px; 
    padding-bottom: 3px; 
    /*  float: right;
       margin: -20px 5px 80px 120px;*/
  }

  .ob-item .ob-titlemark span {
    font-weight:bold;
    /*  float: right;
       margin: -20px 5px 80px 120px;*/
  }
  
  .ob-item .ob-tags {
    vertical-align: top;
    padding-right: 2px;
    font-size:16px;
    font-weight:bold;
    /*  float: right;
       margin: -20px 5px 80px 120px;*/
  }

  .ob-item .ob-titleactions {
    position: absolute;
    text-align: right;
    top: 2px;
    right: 0;
    padding-top: 5px;
    padding-right: 5px;
  }

  .ob-resultitems .ob-footer {
    width: 99%;
    /*  float: left; */
    position: relative;
    /*  margin-top: 5px;  */
    /*  border-style: solid;
       border-color: #E1E1E1;
       border-width: 1px;
       moz-border-radius-bottomright: 12px;
       moz-border-radius-bottomleft: 12px;
       webkit-border-radius-bottomright: 12px;
       webkit-border-radius-bottomleft: 12px; */
  }

/* ob-navigation not used
   .ob-footer .ob-navigation {
    float: left;
    text-align: left;
    width: auto;
    padding-top:  2px;
    padding-left: 0px;
    font-size: 1.2em;
    font-weight: bold; 
  }
  */

  .ob-resultitems .ob-footer .ob-resulttime {
    float: right;
    width: 30%;
    text-align: right;
    padding-right: 0px;
  }

  .ob-resultfooter {
    float:left;
    width: 99%;
  }

  .ob-refine_query {
    float: left;
    width: auto;
    margin-top:10px;
    padding: 10px;
    padding-bottom:20px;
    
  }

  .ob-listoptions {
    overflow: hidden;   
/*    background: #fef6e2;*/
    margin-top: 5px;
    margin-right: 5px;
    width: 99.7%;
    /*
    border-top-style: solid;
    border-top-color: #edebe3;
    border-top-width: 1px; 
    border-bottom-style: solid;
    border-bottom-color: #edebe3;
    border-bottom-width: 1px; */

  }

  .ob-listoptions table {
    width: 99%;
  }

  
  .ob-facets {
    width: 95%;
    padding: 5px;
    /*  font-size:0.9em; */
    /*  background-color: white;
       border-top-style: solid;
       border-top-color: lightblue;
       border-top-width: 1px;
       border-left-style: solid;
       border-left-color: lightblue;
       border-left-width: 1px;
       border-right-style: solid;
       border-right-color: lightblue;
       border-right-width: 1px;
       border-bottom-style: solid;
       border-bottom-color: lightblue;
       border-bottom-width: 1px;
       moz-border-radius-bottomright: 12px;
       moz-border-radius-bottomleft: 12px;
       webkit-border-radius-bottomright: 12px;
       webkit-border-radius-bottomleft: 12px; */
  }

  .ob-facets h4 {
    border-bottom:2px solid #ddd;
  }

  dl.ob-items a:hover {
    /*text-decoration: underline;*/
  }
  dl.ob-items a {
    text-decoration: none;
  }

  dl.ob-items {
    padding: 0px;
    margin-left: 0px;
    
  }
  .ob-items dd {
    padding: 0.1em 0 0.1em 0.4em;
    list-style-type: none;
    border-bottom: 1px solid #e3e3e3;
    margin: 0;
  }

  .ob-items dt {
    margin-top:.75em;
    font-weight:bold;
    padding:0.2em 0.4em;
    background-color: #eee;
  }

  #cover_full {
      -moz-box-shadow: 10px 10px 5px #888;
      -webkit-box-shadow: 10px 10px 5px #888;
      box-shadow: 10px 10px 5px #888;
  }

  .ob-reuse_data, .ob-discover_sources, .ob-session_history {
    background-color: #fff;
    margin-top: 10px;
    padding: 15px;
    padding-top: 5px;
  }

  .ob-search_hints { 
    background-color: #fff;
    padding: 10px;
    padding-top: 5px;
    border: 1px solid #e3e3e3;
  }

  .ob-no_hits { 
    background-color: #fff;
    padding: 10px;
  }

  
/*  .ob-reuse_data h4, .ob-discover_sources h4, .ob-session_history h4 {
    font-family: Arial,Verdana,Helvetica,sans-serif;
    display: block;
    width: 100%;
    padding: 2px;
    padding-left: 5px;
    margin: 0px 10px -5px -3px;
    background: #41799e;
    color: #fff;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
  }
*/
  
  #ob-newreview_do { 
    font-size: 0.8em;
  }
  
  #ob-qrcode {
    margin-top:-416px;
    position:absolute;
    border:1px solid #666;
    background: #ebeff5;
    padding:5px;
    display:none;
    color:#000;
    text-align: center;
    box-shadow: 5px 5px 5px #888; 

  }

  #ob-qrcode .ob-closebutton {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
  }


  .ob-functional_nav {
    width:100%;
    margin:0 0 0 0;
    padding:0;
    height:32px;
    border-top: 1px #e3e3e3 solid;
    border-bottom: 1px #e3e3e3 solid;
  }

  .ob-functional_nav .ob-breadcrumb {
    padding:0;
    margin-top:-20px;
    margin-left: 0px;
  }
  
  .ob-functional_nav .ob-breadcrumb ul li {
    list-style:none;
    float:left;
    height:30px
    display:inline;
  }
  .ob-functional_nav .ob-breadcrumb ul li a {
    font:12px Arial, Helvetica, sans-serif;
    color:rgb(0,0,0);
    text-decoration:none;
    line-height:30px;
    display:block;
    background:url('/images/openbib/breadcrumb.png') 100% no-repeat;
    padding:5px 17px 0 0;
  }
  .ob-functional_nav .ob-breadcrumb ul li a:hover {
    text-decoration:underline;
    color:rbg(0,0,0);
  }
  .ob-functional_nav .ob-breadcrumb ul li a.lastitem {
    background:none;
    color:rgb(0,0,0);
  }
  .ob-functional_nav .ob-breadcrumb ul li a.lastitem:hover {
    text-decoration:none;
  }

  .ob-functional_nav .ob-representation {
    float: right;
    margin-top: 8px;
    margin-right: 20px;
  }


  .ob-alphanav {
    width:100%;
    margin:0 0 0 0;
    padding:0;
    height:25px;
    border-top: 1px #e3e3e3 solid;
    border-bottom: 1px #e3e3e3 solid;
  }

  .ob-alphanav .horizontal {
    padding:0;
    margin-top:-20px;
    margin-left: 0px;
  }
  
  .ob-alphanav .horizontal ul li {
    list-style:none;
    float:left;
    height:20px
    display:inline;
  }
  .ob-alphanav .horizontal ul li a {
    font:12px Arial, Helvetica, sans-serif;
    color:rgb(0,0,0);
    text-decoration:none;
    line-height:30px;
    display:block;
    /*    background:url('/images/openbib/horizontal.png') 100% no-repeat; */
    padding:5px 3px 0 0;
  }
  .ob-alphanav .horizontal ul li a:hover {
    text-decoration:underline;
    color:rbg(0,0,0);
  }
  .ob-alphanav .horizontal ul li a.active {
    background:none;
    color:rgb(0,0,0);
  }
  .ob-alphanav .horizontal ul li a.active:hover {
    text-decoration:none;
  }

  .ob-active_item {
    border-left: 5px green solid;    
  }

  .ob-inactive_item {
    border-left: 5px red solid;    
  }

  #ob-searchform_bottom {
    font-size: 90%;
    padding-top: 1em;
  }

  #ob-searchform_bottom .ym-gbox,   #ob-searchform_bottom .ym-gbox-left,   #ob-searchform_bottom .ym-gbox-right {
    border-top: 2px black solid;
    background: #f6f6f6; /*#ededed ; /* #f6f6f8; /*#eaedf0;*/
  }
  #ob-searchform_bottom .ym-gbox-left {
    border-left: 1px white solid;
  }

  #ob-searchform_bottom .ym-gbox {
    border-left: 4px white solid;
    border-right: 4px white solid;
  }
  #ob-searchform_bottom .ym-gbox-right {
    border-right: 1px white solid;
  }
  
 .ob-searchform_bottom_left {
    padding: 5px;
  }
  
  .box-top .ym-g33.ym-gl,
  .box-top .ym-g33.ym-gr {
    background: url("/images/openbib/lframe.png") top left no-repeat;
  }

  .box-top .ym-gbox-left,
  .box-top .ym-gbox-right,
  .box-top .ym-gbox {
    padding: 15px;
    background: url("/images/openbib/rframe.png") top right no-repeat;
    padding-bottom: 100em;
    margin-bottom: -100em;
  }

  .box-bottom {
    margin-bottom: 1em;
    text-align:right;
  }

  .box-bottom .ym-g33.ym-gl,
  .box-bottom .ym-g33.ym-gr {
    background: url("/images/openbib/lframe.png") bottom left no-repeat;
    padding-bottom: 15px;
  }

  .box-bottom .ym-gbox-left,
  .box-bottom .ym-gbox-right,
  .box-bottom .ym-gbox {
/*    padding: 0 25px 25px 10px; */
    margin-right: 10px;
    background: url("/images/openbib/rframe.png") bottom right no-repeat;
  }

  /* adjustment of content elements within the boxes */
  .box-top h4 { display: block; margin: 10px 5px 5px 5px; border-bottom: 1px #c88 solid; font-style:normal; font-variant:small-caps; }
  .box-top p { padding: 5px; margin-bottom: 0;}

  .ym-searchform a {
    color: #000;
    padding-left: 2px;
  }
 
  .ob-info {
       background:#f4f4f4;
   }

  .ym-fbox-button {
    padding: 10px;
  }

  .ob-title_record {
    padding: 5px;
  }

  #ob-additional_title_info {
    margin-top: 15px;
  }

  .ob-background {
    background: #ebeff5;
  }

  a.ext {
    padding-left: 1.3em;
    padding-top: 5px;
    background: url('/images/openbib/extern.gif') no-repeat left center;
  }

  .ob-titleactions .ob-collection {
    font-size: 12px;
    border: 1px solid #777;
    webkit-border-radius: .2em;
    moz-border-radius: .2em;
    border-radius: .2em;
    padding: 3px;
  }

  .ob-titleactions .ob-collection img {
    padding-right: 5px;
    vertical-align:text-top;
  }

  #topnav img.ob-collectionicon {
    padding-right: 5px;
    vertical-align:text-top;
  }

  .ob-titleactions .ob-bibsonomy {
    font-size: 12px;
    border: 1px solid #777;
    webkit-border-radius: .2em;
    moz-border-radius: .2em;
    border-radius: .2em;
    padding: 3px;
  }

  .ob-titleactions .ob-bibsonomy img {
    padding-right: 5px;
    vertical-align:text-top;
  }

  .ob-titleactions .ob-delete {
    font-size: 12px;
    border: 1px solid #777;
    webkit-border-radius: .2em;
    moz-border-radius: .2em;
    border-radius: .2em;
    padding: 3px;
  }

  .ob-titleactions .ob-delete img {
    padding-right: 5px;
    vertical-align:text-top;
  }

  .ob-selected_item {
    font-weight: bold;
    font-size: 1.2em;
  }

  .ob-headline {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 1.2em;
  }

  .ob-discover_sources ul {
    margin-top: 5px;
    list-style-type: square;
  }

  .ob-fulltitle {
    padding: 5px;
  }

  .ob-fulltitle .ob-category_header {
    float: left;
    margin-left: 2px;
    width: 98%;
  }
  
  .ob-titleimage img {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .ob-titleimage a {

  }

  .ob-availability_online {
    margin-top: -3px;
    float: right;
    padding: 2px;
    width: 5em;
    background: #7dde7d;    
    color: #fff;
    border-radius: 2px;
    font-size: 110%;
    font-weight: bold;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;       
  }

  .ob-availability_lendable {
    margin-top: -3px;
    float: right;
    padding: 2px;
    width: 5em;
    background: green;    
    color: #fff;
    border-radius: 2px;
    font-size: 110%;
    font-weight: bold;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;       
  }
  .ob-availability_presence {
    margin-top: -3px;
    float: right;
    padding: 2px;
    width: 5em;
    background: orange;
    color: #fff;
    border-radius: 2px;
    font-size: 110%;
    font-weight: bold;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;       
    
  }
  .ob-availability_borrowed {
    margin-top: -3px;
    float: right;
    padding: 2px;
    width: 5em;
    background: red;
    color: #fff;
    border-radius: 2px;
    font-size: 110%;
    font-weight: bold;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;           
  }

 .ob-highlight_searchterm {
  color:#990000;
 }

}
