@media all
{
  header {
    padding-bottom:68px;
  }

  header #logo {
    padding: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
  }

  header #institution {
    padding: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    with: 30%;
  }


  #header_logo_image {
    background: url(/images/openbib/views/rheinlandbib/logo.png) center no-repeat;
    width: 1000px;
    height: 100px;
    position: absolute;
    top: 35px;
    left: 0px;
  }

  #header_institution_image {
    background: url(/images/openbib/views/rheinlandbib/usb-logo.png) center no-repeat;
    width: 188px;
    height: 80px;
    position: absolute;
    top: 30px;
    right: 0px;
  }
}
