@media all
{

  header {

  }

  body {
    overflow-y:scroll
  }

  ul.topiclist a {
    font-weight:bold;
    font-size:1.2em;
  }
  
  .ob-pagination {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center; 
  }
  
  .ob-pagination_firstpage, .ob-pagination_page, .ob-pagination_activepage, .ob-pagination_lastpage {
    border: 1px solid #999999;
    margin: 0 4px 4px 0;
    padding: 3px 10px;
    border-radius: 2px 2px 2px 2px;    
    white-space: no-wrap;
    background: #eeeeee;
  }

  .ob-pagination_firstpage:focus, .ob-pagination_page:focus, .ob-pagination_activepage:focus, .ob-pagination_lastpage:focus {
    box-shadow: 0 0 2px #eeeeee;
  }

  .ob-pagination_space:after {
    content: ' ... ';
    font-size: 1.2em;
  }

  .ob-pagination_previous, .ob-pagination_next {
    font-size: 1.2em;
  }
  
  .ob-pagination_previous { 
    padding-right: 0.5em;
  }
  
  .ob-pagination_next {
    padding-left: 0.5em;
  }
  
  .ob-pagination_firstpage {
    font-size: 1.4em;

  }

  .ob-pagination_activepage {
    border: 2px solid #999999;
    font-size: 1.4em;
  }

  .ob-pagination_page {
    font-size: 1.4em;
  }

  .ob-pagination_lastpage {
    font-size: 1.4em;
  }
  
  .ob-category_header {
    width: 100%;
    padding: 2px;
    padding-left: 5px;
    margin: 5px 10px -5px -5px;
    background: #eeeeee;
    background: rgba(0,0,0,.1);
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;

/*    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);*/
  }

  header {
    color:#000;
    background:#fff repeat-x top left;
    padding: 40px 2em 5px 20px;
    position:relative;
  }
  
  header #logo {
    padding: 0px;
    position: relative;
    margin: 0px auto 0px auto;
    width: 850px;
  }

  header #logo img {
    margin-bottom: -5px;
    margin-right: 5px;
  }

  header #logotext {
    font-family: 'Droid Sans', sans-serif;
    font-size: 35px;
    color: #aaaaaa;
  }

/*
  #header_logo_image {
    background: url(/images/openbib/kuglogo_small-40px.png) center no-repeat;
    width: 88px;
    height: 40px;
    position: absolute;
    top: 40px;
    left: 60px;
  }
*/
  .ym-wbox {
    background: #ffffff;
  }
/*
  #header_institution_image {
    background: url(/images/openbib/views/alekiddr/aleki_logo.png) center no-repeat;
    width: 111px;
    height: 90px;
    position: absolute;
    top: 30px;
    right: 10px;
  }
*/
  .details {
    padding-top: 1em;
  }

  .images {
    padding-top: 1em;
  }

  nav {
    background: #ffffff;
  }

  nav.ob-fixed_navigation {
    position: relative;
    margin: 0px 60px 0px;
    top: 0px;
  }

  
  .ob-searchfield_supplement {
    text-align: center;
    font-size: 100%;
  }

  
  .ob-searchfield {
    width: 850px;
    padding: 15px;
    margin: 0px auto 0px auto;
    background: #c8c8c8;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    /*
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888; */
    -moz-box-shadow: 5px 5px 2px #888;
    -webkit-box-shadow: 5px 5px 2px #888;
    box-shadow: 5px 5px 2px #888; 
    font-size: 110%;

/*    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);*/
  }
  
  .ob-searchfield input {
    width: 735px;
    height: 40px;
    padding: 0px;
    padding-left: 5px;
/*    height: 20px;
    padding: 10px 5px;*/
    float: left;   
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;     
  }
  
  .ob-searchfield input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
  }
  
  .ob-searchfield input::-webkit-input-placeholder {
    padding-left: 5px;
    color: #999;
    font-weight: normal;
    font-style: italic;
  }
  
  .ob-searchfield input:-moz-placeholder {
    padding-left: 5px;
    color: #999;
    font-weight: normal;
    font-style: italic;
  }
  
  .ob-searchfield input:-ms-input-placeholder {
    padding-left: 0px;
    color: #999;
    font-weight: normal;
    font-style: italic;
  }   
  
  /* Form submit button */
  .ob-searchfield button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #0095cd; /*#d83c3c;*/
    border-radius: 0 3px 3px 0;     
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
  }  
  
  .ob-searchfield button:hover{    
    background: #007ead; /*#e54040;*/
  }  
   
  .ob-searchfield button:active,
  .ob-searchfield button:focus{  
    background: #c42f2f;
    outline: 0;  
  }

  
/*  .ob-searchfield button:before { /* left arrow */ /*
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
  }
  */
  .ob-searchfield button:hover:before{
    border-right-color: #e54040;
  }
  
  .ob-searchfield button:focus:before,
  .ob-searchfield button:active:before{
    border-right-color: #c42f2f;
  }     
  
  .ob-searchfield button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
  }    

  .ob-clear_floats:before, .ob-clear_floats:after{
    content:"";
    display:table;
  }
  

  .ob-clear_floats:after{
    clear:both;
  }
  
  .ob-clear_floats{
    zoom:1;
  }    

/*  .ob-selectbox select {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-color: #0088FF;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px

    scrollbar-face-color:#990000;
    scrollbar-highlight-color:#FF0000;
    scrollbar-3dlight-color:#CC0000;
    scrollbar-darkshadow-color:#5B0000;
    scrollbar-shadow-color:#6C0000;
    scrollbar-arrow-color:#FFFFFF;
    scrollbar-track-color:#990000;
  }*/

/*  .ob-selectbox option:before {
    content: "> ";
  }
  */

  
}
