/* CSS fuer neuere Versionen des IE */

body {
  margin: 5px; /* Margin-Handling in IE is broken */
  width: 97.5%;
}

input[type="submit"] {
  font: 100% Arial,helv,Helvetica,Verdana;
  border: 1px solid #ADD8E6;  
  color: #000000;
  background-color: #efefef;
  vertical-align: middle;
  margin-bottom: 1px;
}

input[type="reset"] {
  font: 100% Arial,helv,Helvetica,Verdana;
  border: 1px solid #ADD8E6;  
  color: #000000;
  background-color: #efefef;
  vertical-align: middle;
  margin-bottom: 1px;
}

input[type="submit"]:hover {
  color:      HighlightText;
  background: Highlight;
  border:     1px groove Highlight;
  outline:    1px solid #000;
}

input[type="reset"]:hover {
  color:      HighlightText;
  background: Highlight;
  border:     1px groove Highlight;
  outline:    1px solid #000;
}
