/* Generisches Stylesheet fuer das OpenBib-Portal */

h1 {
  font-family: 'Trebuchet MS',Arial,Geneva,Helvetica;
  font-size: 1.5em;
  text-align: left;
}

h2 { 
  font-family: 'Trebuchet MS',Arial,Geneva,Helvetica;
  font-size: 1.3em;
  color: black;
  font-family: Arial,helv,Helvetica,Verdana;
}

h3, h4, h5 { 
  font-family: 'Trebuchet MS',Arial,Geneva,Helvetica;
  font-size: 1.1em;
  color: black;
  font-family: Arial,helv,Helvetica,Verdana;
}

body {
  color: black;
  /* background-color: #EDEBE3; */
  /* background-color: #FFFFCC; */
  /* background-color: #FFF8C6; */
  background-color: #EDEBE3;
  font-family: Arial,helv,Helvetica,Verdana,sans-serif;
}

pre { 
  color: black;
  font-family : "Courier New", Courier, monospace;
}

b {
  font-family: Arial,Helvetica,Verdana,sans-serif;
  font-weight: bold;
  color: #333;
}

table {
  padding: 0px;
}

.titlerow { 
  background-color: #FFF3B3;
}

.listnr { 
  background-color: #FFF3B3;
  font-weight: bold;
  text-align: right;
  padding: 5px;
}

.listrow1 { 
  background-color: white;
}

.listrow2 { 
  background-color: #FFFDF3;
}

.category { 
  padding: 2px;
  background-color: #FFF3B3;
  font-weight: bold;
}

.circurl { 
  background-color: yellow;
}

.warning { 
  color: #000000;
  font-weight: bold;
}

.globalsearch { 
  font-family:Arial,helv,Helvetica,Verdana; 
  font-size:135%; 
  color:blue;
}

.fbuttonarea { 
  background-color: #EDEBE3;
}

#langchoice {
  position: absolute;
  top: 15px;
  right: 5px;  
}

th {
  font-family: 'Trebuchet MS',Arial,Helvetica,Geneva;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  background-color: #EDEBE3;
  padding: 2px;
  text-align: left;
  vertical-align: top;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-style: dashed;
  border-bottom-color: #FFF3B3;
  border-bottom-width: 1px;
}

td.boxed {
  padding: 5px;
  background-color: #FFFDF3;
  border-left: #999999;
  border-right: #999999;
  border-bottom: #999999;
}

td.boxedfull {
  padding: 5px;
  background-color: #FFFDF3;
  border-left-style: solid;
  border-left-color: #666;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-color: #666;
  border-right-width: 1px;
  border-top-style: solid;
  border-top-color: #666;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666;
  border-bottom-width: 1px;
}

td.boxedclear {
  padding: 5px;
  background-color: #FFFDF3;
  border-left-style: solid;
  border-left-color: #FFFDF3;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFDF3;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFDF3;
  border-bottom-width: 1px;
}

.titlenav {
  padding: 5px;
  background-color: #FFFDF3;
  margin-top: 5px;
  border-top-style: solid;
  border-top-color: #666;
  border-top-width: 1px;
  border-left-style: solid;
  border-left-color: #666;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-color: #666;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666;
  border-bottom-width: 1px;
}

input, select, textarea {
  font: 100% Arial,helv,Helvetica,Verdana;
  border: 1px solid #666;  
  color: #333;
  background-color: #efefef;
  vertical-align: middle;
  margin-bottom: 1px;
}

img { 
  border:0;
}

dt {
  font-weight:bold;
  margin-bottom: 2px;
}

dd {
  margin-bottom: 10px;
}

a:link { 
  color:#333;
}

a:visited { 
  color:#333;
}

a:active { 
  color:#333;
}

a:link.invisible {
  color:#edebe3;
  font-family:helvetica,arial;
  font-weight:lighter;
  font-size:10pti
  border:0;
} /* unvisited link */

a:visited.invisible { 
  color:#edebe3;
  font-family:helvetica,arial;
  font-weight:lighter;
  font-size:10pt 
  border:0;
} /* visited links */

a:active.invisible { 
  color:#edebe3;
  font-family:helvetica,arial;
  font-weight:lighter;
  font-size:10pt 
  border:0;
} /* active links */


.tabbingmenu {
  color: #333;
  border-bottom: 1px solid #666;
  margin: 12px 0px 0px 0px;
  padding: 0px;
  z-index: 1;
  padding-left: 10px 
}

.tabbingmenu li {
  display: inline;
  overflow: hidden;
  list-style-type: none; 
}

.tabbingmenu a, a.active {
  color: #333;
  background: #EDEBE3; /* Hintergrundfarbe Tab 'weiss'*/
  font: bold 1em "Trebuchet MS", Arial, sans-serif;
  border: 1px solid #666;
  padding: 2px 5px 0px 5px;
  margin: 0px;
  text-decoration: none; 
}

.tabbingmenu a.active {
  background: #EDEBE3;
  border-bottom: 3px solid #EDEBE3; 
}

.tabbingmenu a:visited {
  color: #333; 
  background: #EDEBE3; 
}

.content {
  font-family: Arial,helv,Helvetica,Verdana,sans-serif;
  background: #EDEBE3;
  padding: 5px;
  border: 1px solid #666;
  border-top: none;
  z-index: 2;	
}

.queryhighlight {
  color:#990000;
}

.drilldown_categorized {
  background: #EDEBE3;
}

.thumbnail {
  text-align: center;
}

#maincontent{
  width: 99%;
  position: absolute;
  top: 150px;
  left: 0;
  background: #EDEBE3;
  padding: 5px;
}

#mainnavigation{
  width: 99%;
  position: absolute;
  top: 120px;
  left: 1;
  border: 1px solid #666;
  background: #FFFDF3; 
  padding: 0px;
}

#mainnavigation a:link {
  color: #000000;
  background: #FFFDF3; 
  text-decoration: none; 
}

#mainnavigation a:visited {
  color: #000000;
  background: #FFFDF3; 
  text-decoration: none; 
}

#mainnavigation a:hover {
  color:      #333; 
  background: #EDEBE3;
}

.dbdescshort {
  font-size:1.2em;
  font-weight:bold;
}

.cloud {
  margin:0;
  padding:0;
}
.cloud li {
  margin:0;
  padding:0;
  display: inline;
}
.cloud span {
  position: absolute;
  left: -999px;
  width: 990px;
}
.cloud .fast-nicht-genutzt {
  font-size: 0.6em;
}
.cloud .nicht-sehr-genutzt {
  font-size: 0.9em;
}
.cloud .etwas-genutzt {
  font-size: 1.2em;
}
.cloud .genutzt {
  font-size: 1.5em;
}
.cloud .sehr-viel-genutzt {
  font-size: 1.8em;
}
.cloud .ultra-genutzt {
  font-size: 2.1em;
}
.cloud .am-meisten-genutzt {
  font-size: 2.3em;
}

